.ocultar {
    opacity: 0;
}

.container-fluid {
    width: 90%;
}

.style-foocon-div-1 {
    animation-duration: 1s;
    animation-delay: 1s;
}

.style-foocon-li-1 {
    animation-duration: 1s;
    animation-delay: 0.8s;
}

.style-foocon-li-2 {
    animation-duration: 1s;
    animation-delay: 0.6s;
}

.style-foocon-li-3 {
    animation-duration: 1s;
    animation-delay: 0.4s;
}

.style-foocon-li-4 {
    animation-duration: 1.2s;
}

.style-foocon-li-5 {
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.style-foocon-li-6 {
    animation-duration: 1s;
    animation-delay: 0.7s;
}

.style-foocon-li-7 {
    animation-duration: 1s;
    animation-delay: 0.9s;
}

.style-foocon-li-8 {
    animation-duration: 1s;
    animation-delay: 1.1s;
}

footer {
    background-color: #323e48;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}

.style-fa {
    border-radius: 100%;
    height: 42px;
    transition: all 0.4s ease 0s;
    padding: 0px 0px;
    width: 42px;
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-banner {
    width: 100%;
}

.img-mas18 {
    width: 50%;
}

h1 {
    font-size: 1.6rem;
    color: #313e48;
}

h3 {
    font-size: 1rem;
    color: white;
    font-weight: 400;
}

.mt-mayores18 {
    margin-top: 1.4rem;
}

.fa {
    font-size: 1.4rem;
}

.fa-color1 {
    background: rgba(139, 198, 62, 1);
    background: -moz-linear-gradient(left, rgba(139, 198, 62, 1) 0%, rgba(139, 198, 62, 1) 80%, rgba(165, 191, 62, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(139, 198, 62, 1)), color-stop(80%, rgba(139, 198, 62, 1)), color-stop(100%, rgba(165, 191, 62, 1)));
    background: -webkit-linear-gradient(left, rgba(139, 198, 62, 1) 0%, rgba(139, 198, 62, 1) 80%, rgba(165, 191, 62, 1) 100%);
    background: -o-linear-gradient(left, rgba(139, 198, 62, 1) 0%, rgba(139, 198, 62, 1) 80%, rgba(165, 191, 62, 1) 100%);
    background: -ms-linear-gradient(left, rgba(139, 198, 62, 1) 0%, rgba(139, 198, 62, 1) 80%, rgba(165, 191, 62, 1) 100%);
    background: linear-gradient(to right, rgba(139, 198, 62, 1) 0%, rgba(139, 198, 62, 1) 80%, rgba(165, 191, 62, 1) 100%);
}

.fa-color2 {
    background: rgba(186, 182, 62, 1);
    background: -moz-linear-gradient(left, rgba(186, 182, 62, 1) 0%, rgba(205, 176, 60, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(186, 182, 62, 1)), color-stop(100%, rgba(205, 176, 60, 1)));
    background: -webkit-linear-gradient(left, rgba(186, 182, 62, 1) 0%, rgba(205, 176, 60, 1) 100%);
    background: -o-linear-gradient(left, rgba(186, 182, 62, 1) 0%, rgba(205, 176, 60, 1) 100%);
    background: -ms-linear-gradient(left, rgba(186, 182, 62, 1) 0%, rgba(205, 176, 60, 1) 100%);
    background: linear-gradient(to right, rgba(186, 182, 62, 1) 0%, rgba(205, 176, 60, 1) 100%);
}

.fa-color3 {
    background: rgba(224, 164, 60, 1);
    background: -moz-linear-gradient(left, rgba(224, 164, 60, 1) 0%, rgba(242, 154, 61, 1) 20%, rgba(242, 154, 61, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224, 164, 60, 1)), color-stop(20%, rgba(242, 154, 61, 1)), color-stop(100%, rgba(242, 154, 61, 1)));
    background: -webkit-linear-gradient(left, rgba(224, 164, 60, 1) 0%, rgba(242, 154, 61, 1) 20%, rgba(242, 154, 61, 1) 100%);
    background: -o-linear-gradient(left, rgba(224, 164, 60, 1) 0%, rgba(242, 154, 61, 1) 20%, rgba(242, 154, 61, 1) 100%);
    background: -ms-linear-gradient(left, rgba(224, 164, 60, 1) 0%, rgba(242, 154, 61, 1) 20%, rgba(242, 154, 61, 1) 100%);
    background: linear-gradient(to right, rgba(224, 164, 60, 1) 0%, rgba(242, 154, 61, 1) 20%, rgba(242, 154, 61, 1) 100%);
}

.ul-links {
    margin-top: 4%;
}

.ul-links-2 {
    margin-top: 0%;
    display: block;
}

.ul-links-2 span {
    padding-left: 12px;
}

.ul-links-3 {
    margin-top: 0%;
    display: block;
}

.ul-links-3 span {
    padding-left: 8px;
}

.ul-links-3 li a {
    font-weight: 400;
    font-size: 0.8rem;
    padding-right: 2px;
}

.ul-favs {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    display: inline-block;
}

.ul-favs li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}

.pad-img {
    padding-top: 2%;
    padding-bottom: 2%;
}

.centrado-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .img-banner {
        width: 100%;
    }
    .ul-links {
        margin-top: 3%;
    }
    .ul-links-2 {
        margin-top: 0%;
    }
    .ul-links-3 {
        margin-top: 0%;
    }
}

@media (max-width: 992px) {
    .pad-img {
        text-align: center;
    }
    .img-banner {
        width: 100%;
    }
    .ul-links {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .ul-links-2 {
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .ul-links-3 {
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .ul-favs {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    li a {
        padding: 8px 8px;
        margin: 14px 4px;
        font-size: 12px;
    }
    .style-fa {
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 768px) {
    .img-banner {
        width: 12rem;
    }
}

@media (max-width: 576px) {
    .img-banner {
        width: 10rem;
    }
    .style-fa {
        height: 40px;
        width: 40px;
        margin: 0 10px;
    }
    li a {
        padding: 8px 10px;
        margin: 4px 4px;
    }
}

@media (max-width: 520px) {
    .ul-links {
        display: grid;
    }
    .ul-links-2 {
        display: grid;
    }
    .ul-links-3 {
        display: grid;
    }
}