<footer id="footer" class="bg_footer pt-3 pb-3">
    <section>
        <div class="container-fluid">
            <div id="footer_interno" class="pt-1px"></div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-4 col-xl-4 centrado_imf_footer">
                        <img class="img_footer animated foot-img-1 ocultar" src="/assets/img/footer/logo_footer.png" alt="futbol_americano">
                    </div>

                    <div class="col-12 col-sm-12 col-md-9 col-lg-8 col-xl-8">
                        <div class="row">
                            <div class="col-7 col-sm-12 col-md-12 col-lg-12 col-xl-12 centrado-vertical">
                                <ul class="ul-links">
                                    <li class="animated foot-li-1 ocultar">
                                        <a (click)="abajo('#quienessomos');">
                                            ¿Quiénes Somos?
                                        </a>
                                    </li>

                                    <li class="animated foot-li-2 ocultar">
                                        <a (click)="abajo('#galeria');">
                                            Galería
                                        </a>
                                    </li>

                                    <li class="animated foot-li-3 ocultar">
                                        <a (click)="abajo('#paquetes');">
                                            Paquetes
                                        </a>
                                    </li>

                                    <li class="animated foot-li-4 ocultar">
                                        <a (click)="abajo('#areas');">
                                            Nuestras Áreas
                                        </a>
                                    </li>

                                    <li class="animated foot-li-5 ocultar">
                                        <a (click)="abajo('#contacto');">
                                            Contacto
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-5 col-sm-12 col-md-12 col-lg-12 col-xl-12 ul-footer-favs centrado-vertical">
                                <ul class="ul-favs">
                                    <li class="animated foot-li-6 ocultar">
                                        <a class="style-fa fa-color1" href='javascript:void(0)'>
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>