<footer id="footer" class="bg_footer pt-5 pb-5">
    <section>
        <div class="container-fluid">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 centrado_imf_footer">
                        <img class="img_footer" src="/assets/img/footer/logo_footer.png" alt="futbol_americano">
                    </div>

                    <div class="col-7 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                        <ul class="ul-links">
                            <li>
                                <a href='javascript:void(0)'>
                                    ¿Quiénes Somos?
                                </a>
                            </li>

                            <li>
                                <a href='javascript:void(0)'>
                                    Galería
                                </a>
                            </li>

                            <li>
                                <a href='javascript:void(0)'>
                                    Paquetes
                                </a>
                            </li>

                            <li>
                                <a href='javascript:void(0)'>
                                    Nuestras Áreas
                                </a>
                            </li>

                            <li>
                                <a href='javascript:void(0)'>
                                    Contacto
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-5 col-sm-6 col-md-5 col-lg-5 col-xl-5 ul-footer-favs centrado-vertical">
                        <ul class="ul-favs">
                            <li>
                                <a class="style-fa fa-color1" href='javascript:void(0)'>
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>