<footer id="footer" class="bg_footer pt-5 pb-5">
    <section>
        <div class="container-fluid">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <img class="img_footer" src="/assets/img/footer/logo_footer.png" alt="futbol_americano">
                    </div>

                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
                    <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
                </div>
            </div>
        </div>
    </section>
</footer>