/* Inicia sección para cargar las fuentes que se utilisaran */

@import url('//fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: century-gothic;
    src: url('/assets/fonts/century-gothic.ttf');
}

@font-face {
    font-family: century-gothic-bold;
    src: url('/assets/fonts/century-gothic-bold.ttf');
}

@font-face {
    font-family: centurygothicstd;
    src: url('/assets/fonts/centurygothicstd.ttf');
}

.century-gothic {
    font-family: century-gothic;
}

.century-gothic-bold {
    font-family: century-gothic-bold;
}

.centurygothicstd {
    font-family: centurygothicstd;
}


/* Finzaliza sección para cargar las fuentes que se utilisaran */


/* Inicializa seccion de codigo para la existencia de 5 columnas */

.col-xl-15,
.col-lg-15,
.col-md-15,
.col-sm-15,
.col-15 {
    position: relative;
    min-height: 1px;
}

.col-xl-15 {
    flex: 20%;
    max-width: 20%;
}

@media (max-width: 1199px) {
    .col-lg-15 {
        flex: 20%;
        max-width: 20%;
    }
}

@media (max-width: 991px) {
    .col-md-15 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (max-width: 767px) {
    .col-sm-15 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (max-width: 575px) {
    .col-15 {
        flex: 50%;
        max-width: 50%;
    }
}


/* Finaliza seccion de codigo para la existencia de 5 columnas */

.ocultar {
    opacity: 0;
}

.areas-div-1 {
    animation-duration: 1s;
}

.areas-div-2 {
    animation-duration: 1s;
    animation-delay: 0.2s;
}

.areas-div-3 {
    animation-duration: 1s;
    animation-delay: 0.4s;
}

.areas-div-4 {
    animation-duration: 1s;
    animation-delay: 0.6s;
}

.areas-div-5 {
    animation-duration: 1s;
    animation-delay: 0.8s;
}

.container-fluid {
    width: 90%;
}

h1,
h2 {
    font-family: century-gothic;
}

h1 {
    padding-bottom: 0.4rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    color: #085588;
}

h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.img_icon {
    width: 34%;
    padding-top: 1rem;
    padding-bottom: 0.6rem;
}

@media (max-width: 991px) {
    .margen-izq-esp {
        margin-left: 33.333333%;
    }
}

@media (max-width: 767px) {
    .margen-izq-esp {
        margin-left: 33.333333%;
    }
}

@media (max-width: 575px) {
    .img_icon {
        width: 50%;
    }
    h2 {
        font-size: 0.8rem;
    }
    .margen-izq-esp {
        margin-left: 0%;
    }
}