<section id="pagos-cobros">
    <div class="container">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pad-pag">
            <h1 class="animated id-pagcob-h1-1 style-pagcob-h1-1 ocultar">METODOS DE PAGO Y COBRO</h1>

            <ul>
                <li class="animated id-pagcob-li-1 style-pagcob-li-1 ocultar">
                    <a href="#">
                        <img src="/assets/img/home/01_spei.png" alt="spei">
                    </a>
                </li>

                <li class="animated id-pagcob-li-2 style-pagcob-li-2 ocultar">
                    <a href="#">
                        <img src="/assets/img/home/02_mastercard.png" alt="mastercard">
                    </a>
                </li>

                <li class="animated id-pagcob-li-3 style-pagcob-li-3 ocultar">
                    <a href="#">
                        <img src="/assets/img/home/03_visa.png" alt="visa">
                    </a>
                </li>

                <li class="animated id-pagcob-li-4 style-pagcob-li-4 ocultar">
                    <a href="#">
                        <img src="/assets/img/home/04_oxxo.png" alt="oxxo">
                    </a>
                </li>

                <li class="animated id-pagcob-li-5 style-pagcob-li-5 ocultar">
                    <a href="#">
                        <img src="/assets/img/home/05_paypal.png" alt="paypal">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>