.ocultar {
    opacity: 0;
}

.quisom1-img-1 {
    animation-duration: 1s;
}

.quisom2-img-1 {
    animation-duration: 1s;
}

.quisom2-div-1 {
    animation-duration: 1s;
    animation-delay: 0.2s;
}

.img_muestra {
    width: 86%;
}

.img_logo {
    width: 84%;
}

p {
    text-align: justify;
}

.pad-txtlogo {
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.centrado_vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}