<section id="quienessomos">
    <div class="container">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5 pb-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 centrado_vertical">
                    <img class="img_muestra" src="/assets/img/quienessomos/foto_nosotros.png" alt="img_muestra">
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 centrado_vertical">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pad-imglogo">
                            <img class="img_logo" src="/assets/img/quienessomos/logo_eventos_ quienes_somos.png" alt="img_logo">
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pad-txtlogo">
                            <p>
                                Si estás buscando un lugar especial en Guadalajara para celebrar tu evento, Salón de Eventos Independencia se presenta como la mejor opción para celebrar con una céntrica ubicación en Av. Circunvalación 58 a una cuadra de la Calzada Independencia.
                            </p>

                            <p>
                                Amplio espacio techado con vista al jardín y área de juegos
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>