.ocultar {
    opacity: 0;
}

.style-anim-h2-1 {
    animation-duration: 1s;
}

.style-anim-p-1 {
    animation-duration: 1s;
    animation-delay: 0.4s;
}

.style-anim-iframe-1 {
    animation-duration: 1s;
    animation-delay: 0.8s;
}

.img-ruleta {
    width: 36%;
}

.text-white {
    color: white;
}

.bg-video {
    background: rgba(139, 198, 62, 1);
    background: -moz-linear-gradient(left, rgba(139, 198, 62, 1) 0%, rgba(1, 111, 61, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(139, 198, 62, 1)), color-stop(100%, rgba(1, 111, 61, 1)));
    background: -webkit-linear-gradient(left, rgba(139, 198, 62, 1) 0%, rgba(1, 111, 61, 1) 100%);
    background: -o-linear-gradient(left, rgba(139, 198, 62, 1) 0%, rgba(1, 111, 61, 1) 100%);
    background: -ms-linear-gradient(left, rgba(139, 198, 62, 1) 0%, rgba(1, 111, 61, 1) 100%);
    background: linear-gradient(to right, rgba(139, 198, 62, 1) 0%, rgba(1, 111, 61, 1) 100%);
    position: initial;
}

.bg-img-recortes {
    background: url(/assets/img/fondos/mockup-1.png);
    background-repeat: no-repeat;
    background-size: 82%;
    background-position: right bottom;
}

.section-video {
    padding-top: 60px;
    padding-bottom: 60px;
}

.text-1-video {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0px;
    align-self: flex-start;
    background: url(/assets/img/icon/pla_blue.png);
    background-repeat: no-repeat;
    background-position: 75px;
}

.text-2-video {
    color: #FEBE14;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 0px;
    line-height: 1.1;
    align-self: flex-start;
    width: 100%;
}

.tam-video {
    width: 95%;
}

@media (max-width: 1200px) {
    .section-video {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .text-1-video {
        font-size: 1.4rem;
    }
    .text-2-video {
        font-size: 1.2em;
    }
}

@media (max-width: 992px) {
    .section-video {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .text-1-video {
        font-size: 1rem;
    }
    .text-2-video {
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    .section-video {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .text-1-video {
        font-size: 1.2rem;
    }
    .text-2-video {
        font-size: 1.1em;
    }
    .tam-video {
        width: 100%;
    }
}