<!-- Seccion Video Inicia -->
<section class="bg-video section-video text-white" id='video'>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="row">
                            <iframe height="320" class="youtube-player pristine tam-video animated id-anim-iframe-1 style-anim-iframe-1 ocultar" src="https://www.youtube.com/embed/w-4jImOBJfg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div id="cuadro_uno"></div>
                        <div id="cuadro_dos"></div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
                        <img src="/assets/img/home/grafico_rouletta.png" alt="rouletta" class="img-ruleta mt-3 mb-3">

                        <h2 class="text-1-video animated id-anim-h2-1-vid style-anim-h2-1 ocultar text-uppercase">
                            Todo lo que necesitas para ganar! ganar! ganar!
                        </h2>

                        <a href="#" class="text-2-video animated id-anim-p-1 style-anim-p-1 ocultar text-uppercase">
                            esta aquí!!!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Seccion Video finaliza -->