<section id="slider">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 div-1" id="div-1">
        <div class="row">
            <div id="carouselControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="slider slider-1">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="d-none d-sm-block col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                            <img class="img-foot animated id-divuno-img-1 style-divuno-img-1 ocultar" src="src/assets/img/home/futbol_americano.png" alt="futbol_americano">
                                        </div>

                                        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                                            <h2 class="animated id-divuno-h2-1 style-divuno-h2-1 ocultar">BIENVENIDOS A</h2>

                                            <img class="animated id-divuno-img-2 style-divuno-img-2 ocultar" src="src/assets/img/home/logo_beba_banner.png" alt="Logo Beba">

                                            <div class="animated id-divuno-img-3 style-divuno-img-3 ocultar">
                                                <img class="img-promo" src="src/assets/img/home/promocion_banner.png" alt="Promocional">
                                            </div>

                                            <h3 class="animated id-divuno-h3-1 style-divuno-h3-1 ocultar">
                                                <a href="#" class="term_cond">Terminos y Condiciones</a>
                                            </h3>

                                            <a class="btn btn-registro animated id-divuno-a-1 style-divuno-a-1 ocultar">REGISTRATE</a>
                                        </div>

                                        <div class="d-none d-sm-block col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                            <img class="img-beis animated id-divuno-img-4 style-divuno-img-4 ocultar" src="src/assets/img/home/beisbolista.png" alt="beisbolista">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="slider slider-1">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="d-none d-sm-block col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                            <img class="img-foot animated id-divuno-img-1 style-divuno-img-1 ocultar" src="src/assets/img/home/futbol_americano.png" alt="futbol_americano">
                                        </div>

                                        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                                            <h2 class="animated id-divuno-h2-1 style-divuno-h2-1 ocultar">BIENVENIDOS A</h2>

                                            <img class="animated id-divuno-img-2 style-divuno-img-2 ocultar" src="src/assets/img/home/logo_beba_banner.png" alt="Logo Beba">

                                            <div class="animated id-divuno-img-3 style-divuno-img-3 ocultar">
                                                <img class="img-promo" src="src/assets/img/home/promocion_banner.png" alt="Promocional">
                                            </div>

                                            <h3 class="animated id-divuno-h3-1 style-divuno-h3-1 ocultar">
                                                <a href="#" class="term_cond">Terminos y Condiciones</a>
                                            </h3>

                                            <a class="btn btn-registro animated id-divuno-a-1 style-divuno-a-1 ocultar">REGISTRATE</a>
                                        </div>

                                        <div class="d-none d-sm-block col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                            <img class="img-beis animated id-divuno-img-4 style-divuno-img-4 ocultar" src="src/assets/img/home/beisbolista.png" alt="beisbolista">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 div-2" id="div-2">
        <div class="row">
            <div id="div-carga-animacion"></div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-0 color-paso-01">
                <div class="row mar-top-step1">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 animated id-divdos-img-1 style-divdos-img-1 ocultar">
                        <img class="img-foot2" src="src/assets/img/home/step_01.png" alt="Paso uno">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 txt-step1">
                        <h1 class="animated id-divdos-h1-1 style-divdos-h1-1 ocultar">REGÍSTRATE</h1>
                        <h4 class="animated id-divdos-h4-1 style-divdos-h4-1 ocultar">
                            Si te apasionan los deportes y aún no estás registrado, ¿Qué esperas? abre tu cuenta en <span class="color-span1">beba.io</span> y apuesta desde cualquier lugar
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-0 color-paso-02">
                <div class="row mar-top-step2 tri1">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 animated id-divdos-img-2 style-divdos-img-2 ocultar">
                        <img class="img-foot2" src="src/assets/img/home/step_02.png" alt="Paso dos">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 txt-step2">
                        <h1 class="animated id-divdos-h1-2 style-divdos-h1-2 ocultar">APUESTA</h1>
                        <h4 class="animated id-divdos-h4-2 style-divdos-h4-2 ocultar">
                            Realiza un depósito en tu cuenta y mete tu primer apuesta de al menos <span class="color-span1">$50</span> a cualquier evento deportivo que tú elijas.
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-0 color-paso-03">
                <div class="row mar-top-step2 tri2">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 animated id-divdos-img-3 style-divdos-img-3 ocultar">
                        <img class="img-foot2" src="src/assets/img/home/step_03.png" alt="Paso tres">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 txt-step3">
                        <h1 class="animated id-divdos-h1-3 style-divdos-h1-3 ocultar">GANA</h1>
                        <h4 class="animated id-divdos-h4-3 style-divdos-h4-3 ocultar">
                            Igualamos tu primera apuesta y te damos hata un máximo de <span class="color-span1">$500</span> en apuesta <span class="color-span1">gratis</span> para seguir jugando
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>