// Inicia sección para cargar las fuentes que se utilisaran
@import url('//fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: ubuntu-r;
    src: url('/assets/fonts/ubuntu-r.ttf');
}

@font-face {
    font-family: ubuntu-bold;
    src: url('/assets/fonts/ubuntu-bold.ttf');
}

@font-face {
    font-family: bebas-neue-regular;
    src: url('/assets/fonts/bebas-neue-regular.ttf');
}

.ubuntu-r {
    font-family: ubuntu-r;
}

.ubuntu-bold {
    font-family: ubuntu-bold;
}

.bebas-neue-regular {
    font-family: bebas-neue-regular;
}

// Finzaliza sección para cargar las fuentes que se utilisaran
.ocultar {
    opacity: 0;
}

.style-divuno-img-1 {
    animation-duration: 1.8s;
}

.style-divuno-h2-1 {
    animation-duration: 1s;
    animation-delay: 0.6s;
}

.style-divuno-img-2 {
    animation-duration: 1s;
    animation-delay: 0.4s;
}

.style-divuno-img-3 {
    animation-duration: 1s;
}

.style-divuno-h3-1 {
    animation-duration: 1s;
    animation-delay: 0.4s;
}

.style-divuno-a-1 {
    animation-duration: 1s;
    animation-delay: 0.6s;
}

.style-divuno-img-4 {
    animation-duration: 1.8s;
}

.style-divdos-img-1 {
    animation-duration: 0.8s;
    animation-delay: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.style-divdos-h1-1 {
    animation-duration: 0.9s;
    animation-delay: 0.2s;
}

.style-divdos-h4-1 {
    animation-duration: 1s;
}

.style-divdos-img-2 {
    animation-duration: 0.8s;
    animation-delay: 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.style-divdos-h1-2 {
    animation-duration: 0.9s;
    animation-delay: 0.6s;
}

.style-divdos-h4-2 {
    animation-duration: 1s;
    animation-delay: 0.4s;
}

.style-divdos-img-3 {
    animation-duration: 0.8s;
    animation-delay: 1.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.style-divdos-h1-3 {
    animation-duration: 0.9s;
    animation-delay: 1s;
}

.style-divdos-h4-3 {
    animation-duration: 1s;
    animation-delay: 0.8s;
}

.slider-1 {
    background: rgba(0, 0, 0, 0) url(/src/assets/img/slider/slider_estadio_beba.png) repeat scroll center center / cover!important;
    border-bottom-right-radius: 60% 12%;
    border-bottom-left-radius: 60% 12%;
}

.div-1 {
    z-index: 1;
}

.div-2 {
    margin-top: -6rem;
    z-index: 0;
}

img {
    width: 100%;
}

.mar-top-step1 {
    margin-top: 8rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.mar-top-step2 {
    margin-top: 8rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.txt-step1 h1 {
    color: #99C33E;
    font-size: 1.8rem;
    font-family: bebas-neue-regular;
}

.txt-step1 h4 {
    color: white;
    font-size: 1rem;
    font-family: ubuntu-r;
}

.txt-step2 h1 {
    color: #C9B23C;
    font-size: 1.8rem;
    font-family: bebas-neue-regular;
}

.txt-step2 h4 {
    color: white;
    font-size: 1rem;
    font-family: ubuntu-r;
}

.txt-step3 h1 {
    color: #F29B3D;
    font-size: 1.8rem;
    font-family: bebas-neue-regular;
}

.txt-step3 h4 {
    color: white;
    font-size: 1rem;
    font-family: ubuntu-r;
}

.btn-registro {
    background: rgba(252, 188, 26, 1);
    background: -moz-linear-gradient(top, rgba(252, 188, 26, 1) 0%, rgba(229, 140, 57, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252, 188, 26, 1)), color-stop(100%, rgba(229, 140, 57, 1)));
    background: -webkit-linear-gradient(top, rgba(252, 188, 26, 1) 0%, rgba(229, 140, 57, 1) 100%);
    background: -o-linear-gradient(top, rgba(252, 188, 26, 1) 0%, rgba(229, 140, 57, 1) 100%);
    background: -ms-linear-gradient(top, rgba(252, 188, 26, 1) 0%, rgba(229, 140, 57, 1) 100%);
    background: linear-gradient(to bottom, rgba(252, 188, 26, 1) 0%, rgba(229, 140, 57, 1) 100%);
    border-radius: 20px;
    color: white !important;
    font-size: 1.2rem;
    font-family: ubuntu-r;
    font-weight: 700;
    padding: 1% 6%;
    margin-top: 4%;
}

.img-beis {
    padding-top: 36%;
    transform: translate(10%, 0rem);
}

.img-foot {
    padding-top: 30%;
    transform: translate(-10%, 0rem);
}

.img-foot2 {
    padding-top: 30%;
    transform: translate(-10%, 0rem);
    width: 100%;
}

.img-promo {
    width: 120%;
    padding-top: 26%;
}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 5%;
}

.slider img {
    width: 100%;
}

#slider-wrapper {
    position: relative;
    max-width: 100%;
    font-family: arial, sans-serif;
    font-size: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel-control-next,
.carousel-control-prev {
    top: calc(50% - 25px)!important;
    width: 50px!important;
    height: 50px!important;
    opacity: .3;
    margin: 0 2%;
    background: #000!important;
}

.carousel-caption {
    right: calc(10%);
    left: 50%;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.term_cond {
    color: white;
    font-size: 1.2rem;
    font-family: ubuntu-r;
    position: absolute;
    transform: translate(-42%, -2rem);
}

h2 {
    color: white;
    font-size: 1.4rem;
    margin-bottom: 0px;
    padding-top: 12%;
}

.color-paso-01 {
    width: 100%;
    background-color: #425055;
}

.color-paso-02 {
    width: 100%;
    background-color: #313E48;
}

.color-paso-03 {
    width: 100%;
    background-color: #1E2F34;
}

.color-span1 {
    color: #D6DD26 !important;
}

.color-span3 {}

@media (max-width: 1200px) {
    .txt-step1 h1 {
        text-align: center;
        font-size: 1.4rem;
    }
    .txt-step1 h4 {
        font-size: 0.8rem;
    }
    .txt-step2 h1 {
        text-align: center;
        font-size: 1.4rem;
    }
    .txt-step2 h4 {
        font-size: 0.8rem;
    }
    .txt-step3 h1 {
        text-align: center;
        font-size: 1.4rem;
    }
    .txt-step3 h4 {
        font-size: 0.8rem;
    }
    .img-foot2 {
        width: 100%;
    }
    .style-divdos-img-1 {
        text-align: center;
    }
    .style-divdos-img-2 {
        text-align: center;
    }
    .style-divdos-img-3 {
        text-align: center;
    }
    .mar-top-step2 {
        margin-right: 2rem;
        margin-left: 2rem;
    }
}

@media(max-width: 992px) {
    .txt-step1 h1 {
        font-size: 1.2rem;
    }
    .txt-step1 h4 {
        font-size: 0.7rem;
    }
    .txt-step2 h1 {
        font-size: 1.2rem;
    }
    .txt-step2 h4 {
        font-size: 0.7rem;
    }
    .txt-step3 h1 {
        font-size: 1.2rem;
    }
    .txt-step3 h4 {
        font-size: 0.7rem;
    }
    .img-foot2 {
        padding-bottom: 1rem;
    }
    .img-foot2 {
        text-align: center;
        padding-top: 0%;
        padding-bottom: 8%;
        transform: translate(-10%, 0rem);
        width: 40%;
    }
    .img-beis {
        padding-top: 29%;
    }
    .img-foot {
        padding-top: 23%;
    }
    .slider {
        margin-top: 3.5rem;
    }
    .img-promo {
        padding-top: 8%;
    }
    h2 {
        font-size: 0.8rem;
        padding-top: 14%;
    }
    .term_cond {
        transform: translate(-50%, -1.6rem);
        font-size: 0.8rem;
    }
    .mar-top-step1 {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .mar-top-step2 {
        margin-right: 2rem;
        margin-left: 2rem;
    }
}

@media (max-width: 768px) {
    .mar-top-step1 {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .mar-top-step2 {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media(min-width: 576px) {
    .tri1:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        -webkit-transform: translate(100%, 35px);
        transform: translate(-100%, 35px);
        border-left: 50px solid #425055;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
    }
    .tri2:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        -webkit-transform: translate(100%, 35px);
        transform: translate(-100%, 35px);
        border-left: 50px solid #313E48;
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
    }
}

@media (max-width: 575px) {
    .mar-top-step1 {
        margin-top: 6rem;
        margin-bottom: 3rem;
        margin-right: 3rem;
        margin-left: 3rem;
    }
    .mar-top-step2 {
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-right: 3rem;
        margin-left: 3rem;
    }
    .txt-step1 h1 {
        font-size: 1.4rem;
    }
    .txt-step1 h4 {
        font-size: 0.8rem;
    }
    .txt-step2 h1 {
        font-size: 1.4rem;
    }
    .txt-step2 h4 {
        font-size: 0.8rem;
    }
    .txt-step3 h1 {
        font-size: 1.4rem;
    }
    .txt-step3 h4 {
        font-size: 0.8rem;
    }
    .img-foot2 {
        width: 4rem;
    }
    .div-2 {
        margin-top: -4rem;
    }
    .slider {
        margin-top: 3rem;
    }
    h2 {
        padding-top: 12%;
    }
    .img-promo {
        width: 100%;
        padding-top: 4%;
        transform: none;
    }
    .btn-registro {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .term_cond {
        font-size: 1rem;
    }
}