.pad-sup {
    padding-top: 5.6rem;
}

#slider-wrapper {
    position: relative;
    max-width: 100%;
    font-family: arial, sans-serif;
    font-size: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel-control-next,
.carousel-control-prev {
    top: calc(50% - 25px)!important;
    width: 50px!important;
    height: 50px!important;
    opacity: .3;
    margin: 0 2%;
    background: #000!important;
}

.carousel-caption {
    right: calc(10%);
    left: 50%;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}