<section id="paquetes" class="bg_paquetes">
    <div class="container-fluid pb-5">
        <h5>PAQUETES</h5>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="row mr-0 ml-0">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 titulo_paquete">
                            <div>
                                <h1>PAQUETE BÁSICO</h1>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-2 bg_blanco">
                            <div class="row">
                                <div class="col-7 col-sm-7 col-md-7 col-lg-8 col-xl-8 pr-0">
                                    <h2>COSTO POR EVENTO:</h2>
                                </div>

                                <div class="col-5 col-sm-5 col-md-5 col-lg-4 col-xl-4 pl-0">
                                    <h2><span class="txt_color_1">$ 3,500.00</span></h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bg_blanco bg_inf_radius">
                            <h3>INCLUYE:</h3>

                            <ul class="color_t_1">
                                <li>RENTA DE SALON POR CINCO HORAS PARA 60 ADULTOS 30 NIÑOS.</li>
                                <li>6 MESAS REDONDAS PARA 10 PERSONAS CON SILLAS.</li>
                                <li>MOBILIARIO PARA NIÑO.</li>
                                <li>MANTELERIA,(MANTEL Y CUBRE MANTEL)</li>
                                <li>MESA PARA PASTEL</li>
                                <li>BRINCOLIN Y JUEGO INTERACTIVO FIJO DE MADERA.</li>
                                <li>DESCORCHE.</li>
                                <li>ROCKOLA O BOCINA CON BLUETOOTH Y USB.</li>
                            </ul>

                            <h3>HORARIOS:</h3>

                            <!-- <h4>DE 14:00 A 19:00 HORAS.</h4> -->
                            <h4>DE 15:00 A 20:00 HORAS.</h4>
                            <h4>DE 16:00 A 21:00 HORAS.</h4>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="row mr-0 ml-0">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 titulo_paquete">
                            <div>
                                <h1>PAQUETE 1</h1>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-2 bg_blanco">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                    <h2>COSTO POR PERSONA:</h2>
                                </div>

                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pr-0 text-center">
                                    <h2><span class="txt_color_2">$160.00 ADULTOS</span></h2>
                                </div>

                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pl-0 text-center">
                                    <h2><span class="txt_color_2">$50.00 NIÑOS</span></h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bg_blanco bg_inf_radius">
                            <h3>INCLUYE:</h3>

                            <ul class="color_t_2">
                                <li>RENTA DE SALON POR CINCO HORAS PARA 70 ADULTOS 30 NIÑOS.</li>
                                <li>7 MESAS REDONDAS PARA 10 PERSONAS CON SILLAS.</li>
                                <li>MOBILIARIO PARA NIÑO.</li>
                                <li>MANTELERIA,(MANTEL, CUBRE MANTEL, CUBRE SILLAS, CON MOÑO)</li>
                                <li>CRISTALERIA, (PLATO, VASO, CUBIERTOS, SERVILLETA DE LUJO DE PAPEL).</li>
                                <li>MESA PARA PASTEL</li>
                                <li>2 MESEROS.</li>
                                <li>PERSONAL DE VIGILANCIA Y SANITARIOS.</li>
                                <li>REFRESCO Y HIELO SIN LIMITE (COCA COLA, SQUIRT, AGUA MINERAL Y SPRITE).</li>
                                <li>CENTRO DE MESA (FLORES NATURALES).</li>
                                <li>BOTANA (DUROS DE HARINA SIN LÍMITE).</li>
                                <li>VASOS DESECHABLES PARA NIÑOS.</li>
                                <li>BRINCOLIN Y JUEGO INTERACTIVO FIJO DE MADERA.</li>
                                <li>DESCORCHE.</li>
                                <li>ROCKOLA O BOCINA CON BLUETOOTH Y USB</li>
                            </ul>

                            <h3>HORARIOS:</h3>

                            <h4>DE 14:00 A 19:00 HORAS.</h4>
                            <h4>DE 15:00 A 20:00 HORAS.</h4>
                            <h4>DE 16:00 A 21:00 HORAS.</h4>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="row mr-0 ml-0">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 titulo_paquete">
                            <div>
                                <h1>PAQUETE NOCTURNO</h1>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-2 bg_blanco">
                            <div class="row">
                                <div class="col-7 col-sm-7 col-md-7 col-lg-8 col-xl-8 pr-0">
                                    <h2>COSTO POR PERSONA:</h2>
                                </div>

                                <div class="col-5 col-sm-5 col-md-5 col-lg-4 col-xl-4 pl-0">
                                    <h2><span class="txt_color_3">$190.00</span></h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bg_blanco bg_inf_radius">
                            <h3>INCLUYE:</h3>

                            <ul class="color_t_3">
                                <li>RENTA DE SALON POR CINCO HORAS, PARA 80 PERSONAS.</li>
                                <li>8 MESAS REDONDAS PARA 10 PERSONAS, CON SILLAS.</li>
                                <li>MANTELERIA: MANTEL, CUBRE MANTEL, CUBRE SILLAS, CON MOÑO.</li>
                                <li>CRISTALERIA, PLATO, VASO, CUBIERTOS, SERVILLETA DE LUJO DE PAPEL).</li>
                                <li>2 MESEROS Y UN BARMAN.</li>
                                <li>PERSONAL DE VIGILANCIA Y SANITARIOS.</li>
                                <li>REFRESCO Y HIELO SIN LIMITE (COCA COLA, SQUIRT, AGUA MINERAL Y SPRITE).</li>
                                <li>CENTRO DE MESA (FLORES NATURALES).</li>
                                <li>BOTANA (PAPA DORADA, CHURRO Y CACAHUATE, SIN LÍMITE).</li>
                                <li>MESA PARA PASTEL.</li>
                                <li>MESA PARA POSTRES.</li>
                                <li>DECORACION CON GLOBOS.</li>
                                <li>DESCORCHE.</li>
                                <li>ROCKOLA O BOCINA CON BLUETOOTH Y USB.</li>
                            </ul>

                            <h3>HORARIOS:</h3>

                            <h4>DE 20:00 PM. A 01:00 AM.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>