/* Inicia sección para cargar las fuentes que se utilisaran */

@import url('//fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: century-gothic;
    src: url('/assets/fonts/century-gothic.ttf');
}

@font-face {
    font-family: century-gothic-bold;
    src: url('/assets/fonts/century-gothic-bold.ttf');
}

@font-face {
    font-family: centurygothicstd;
    src: url('/assets/fonts/centurygothicstd.ttf');
}

.century-gothic {
    font-family: century-gothic;
}

.century-gothic-bold {
    font-family: century-gothic-bold;
}

.centurygothicstd {
    font-family: centurygothicstd;
}


/* Finzaliza sección para cargar las fuentes que se utilisaran */


/* Inicializa seccion de codigo para la existencia de 5 columnas */

.col-xl-15,
.col-lg-15,
.col-md-15,
.col-sm-15,
.col-15 {
    position: relative;
    min-height: 1px;
}

.col-xl-15 {
    width: 20%;
    float: left;
}

@media (min-width: 1199px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 991px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 767px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 575px) {
    .col-15 {
        width: 20%;
        float: left;
    }
}


/* Finaliza seccion de codigo para la existencia de 5 columnas */

.bg_paquetes {
    background: rgba(0, 0, 0, 0) url(/src/assets/img/bg/background_paquetes.jpg) repeat scroll center center / cover!important;
}

.bg_blanco {
    background: white;
}

.bg_inf_radius {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 15px;
}

.container-fluid {
    width: 90%;
}

ul {
    display: grid;
    padding: 0px 20px;
}

.titulo_paquete {
    text-align: center;
    background: #3a90cd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: century-gothic;
}

h1 {
    font-size: 1.6rem;
    margin-bottom: .8rem;
    margin-top: .8rem;
    color: white;
}

h2 {
    font-size: 1.1rem;
    font-weight: 700;
}

h3 {
    font-size: 1rem;
    margin-bottom: .6rem;
    margin-top: .6rem;
    font-weight: 700;
}

h4 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0rem;
}

h5 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    color: #00ace0;
}

.txt_color_1 {
    color: #00afef;
}

.txt_color_2 {
    color: #1175bc;
}

.txt_color_3 {
    color: #283890;
}

.color_t_1 li::before {
    content: "•";
    color: #00afef;
    display: inline-block;
    width: 1rem;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl
}

.color_t_2 li::before {
    content: "•";
    color: #1175bc;
    display: inline-block;
    width: 1rem;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl
}

.color_t_3 li::before {
    content: "•";
    color: #283890;
    display: inline-block;
    width: 1rem;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl
}

@media (max-width: 1199px) {
    h1 {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 0.8rem;
        font-weight: 600;
    }
    h3 {
        font-size: 0.9rem;
    }
    h4 {
        font-size: 1rem;
    }
    ul li {
        font-size: 0.9rem;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 1rem;
        font-weight: 600;
    }
    h3 {
        font-size: 1.1rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    ul li {
        font-size: 1.1rem;
    }
    .titulo_paquete {
        margin-top: 15px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 0.8rem;
        font-weight: 600;
    }
    h3 {
        font-size: 0.9rem;
    }
    h4 {
        font-size: 1rem;
    }
    ul li {
        font-size: 0.9rem;
    }
}