<section id="categorias">
    <div class="container">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pad-pag">
            <ul>
                <li class="animated id-pagcob-li-1 style-pagcob-li-1 ocultar">
                    <a routerLink='/deportes'>
                        <img src="/assets/img/home/icono_color_deportes.png" alt="spei">

                        <h1 class="pt-2 animated id-pagcob-h1-1 style-pagcob-h1-1 ocultar">DEPORTES</h1>
                    </a>
                </li>

                <li class="animated id-pagcob-li-2 style-pagcob-li-2 ocultar">
                    <a routerLink='/caballos'>
                        <img src="/assets/img/home/icono_caballos.png" alt="mastercard">

                        <h1 class="pt-2 animated id-pagcob-h1-2 style-pagcob-h1-2 ocultar">CABALLOS</h1>
                    </a>
                </li>

                <li class="animated id-pagcob-li-3 style-pagcob-li-3 ocultar">
                    <a href='javascript:void(0)'>
                        <img src="/assets/img/home/ocono_color_casino.png" alt="visa">

                        <h1 class="pt-2 animated id-pagcob-h1-3 style-pagcob-h1-3 ocultar">CASINO</h1>
                    </a>
                </li>

                <li class="animated id-pagcob-li-4 style-pagcob-li-4 ocultar">
                    <a href='javascript:void(0)'>
                        <img src="/assets/img/home/icono_color_fantasy.png" alt="oxxo">

                        <h1 class="pt-2 animated id-pagcob-h1-4 style-pagcob-h1-4 ocultar">FANTASY</h1>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>