<header id="head-simple">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="col-8 col-sm-4 col-md-2 col-lg-4 col-xl-3 div_imag">
            <a class="navbar-brand" routerLink='/home'>
                <img class="img-logo animated head-img-1 ocultar" src="/assets/img/header/logo_header.png" alt="logo">
            </a>
        </div>

        <div class="d-none d-lg-block col-lg-7 col-xl-8">
            <ul class="ul-links">
                <li class="animated head-li-1 ocultar">
                    <a (click)="abajo('#quienessomos');">
                        ¿Quiénes Somos?
                    </a>
                </li>

                <li class="animated head-li-2 ocultar">
                    <a (click)="abajo('#galeria');">
                        Galería
                    </a>
                </li>

                <li class="animated head-li-3 ocultar">
                    <a (click)="abajo('#paquetes');">
                        Paquetes
                    </a>
                </li>

                <li class="animated head-li-4 ocultar">
                    <a (click)="abajo('#areas');">
                        Nuestras Áreas
                    </a>
                </li>

                <li class="animated head-li-5 ocultar">
                    <a (click)="abajo('#contacto');">
                        Contacto
                    </a>
                </li>
            </ul>
        </div>

        <div class="d-none d-md-block col-md-7 col-lg-1 col-xl-1">
            <ul class="ul-favs">
                <li class="animated head-li-6 ocultar">
                    <a class="style-fa fa-color1" href='javascript:void(0)'>
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-md-block d-lg-none">
                <ul class="ul-links links-head">
                    <li class="animated head-li-1 ocultar">
                        <a (click)="abajo('#quienessomos');">
                            ¿Quiénes Somos?
                        </a>
                    </li>

                    <li class="animated head-li-2 ocultar">
                        <a (click)="abajo('#galeria');">
                            Galería
                        </a>
                    </li>

                    <li class="animated head-li-3 ocultar">
                        <a (click)="abajo('#paquetes');">
                            Paquetes
                        </a>
                    </li>

                    <li class="animated head-li-4 ocultar">
                        <a (click)="abajo('#areas');">
                            Nuestras Áreas
                        </a>
                    </li>

                    <li class="animated head-li-5 ocultar">
                        <a (click)="abajo('#contacto');">
                            Contacto
                        </a>
                    </li>
                </ul>
            </div>

            <div class="d-sm-block d-md-none">
                <ul class="ul-favs">
                    <li class="animated head-li-6 ocultar">
                        <a class="style-fa fa-color1" href='javascript:void(0)'>
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>