<section id="contacto" class="bg_contacto pt-5 pb-5">
    <div class="container">
        <h1 id="id_contacto">CONTACTO</h1>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <form class="form" name="form-data" id="form-data" method="post" (ngSubmit)="JsFormData();">
                <input type="hidden" id="contacto" name="contacto" value="contacto">
                <div class="form-group animated contac-div-1 ocultar">
                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre *" required="required">
                </div>

                <div class="form-group animated contac-div-2 ocultar">
                    <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Teléfono *" required="required">
                </div>

                <div class="form-group animated contac-div-3 ocultar">
                    <input type="text" name="correo" id="correo" class="form-control" placeholder="Correo *" required="required">
                </div>

                <div class="form-group animated contac-div-3 ocultar">
                    <input type="text" name="fecha_estimada" id="fecha_estimada" class="form-control" placeholder="Fecha estimada *" required="required">
                </div>

                <div class="form-group animated contac-div-4 ocultar">
                    <textarea rows="6" name="mensaje" id="mensaje" class="form-control" placeholder="Mensaje" required="required"></textarea>
                </div>

                <div class="form-group text-center animated contac-div-5 ocultar">
                    <input type="submit" value="ENVIAR" name="submit" class="btn btn_enviar" title="submit">
                </div>
            </form>
        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.3024103631233!2d-103.33356278467123!3d20.69794100436427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b1b914948b73%3A0xd120851a00019b94!2sEventos+Independencia!5e0!3m2!1ses-419!2smx!4v1556144582618!5m2!1ses-419!2smx"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div align="left" class=" mt-4 ml-4">
                <div><img src="/assets/img/icons/ei_logo_slide_01.png" alt="" width="300"></div>
                <div class="mt-2 ml-5"><b>Eventos Independencia</b></div>
            </div>
            <div align="left" class="mt-3 ml-4">
                <div>
                    <li class="fa fa-phone"></li> Tel: 33 1363 2602</div>
                <div>
                    <li class="fa fa-map-marker"></li> Circunvalación División del Nte. 58</div>
                <div>Col.Independencia C.P 44379</div>
                <div>A una cuadra de la calzada independencia.</div>
                <div>Guadalajara, Jalisco.</div>
            </div>
        </div>
    </div>
</div>