<section id="contacto" class="bg_contacto pt-5 pb-5">
    <div class="container">
        <h1 id="id_contacto">CONTACTO</h1>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <form class="form" name="form-data" id="form-data" method="post" (ngSubmit)="JsFormData();">
                <input type="hidden" id="contacto" name="contacto" value="contacto">
                <div class="form-group animated contac-div-1 ocultar">
                    <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre *" required="required">
                </div>

                <div class="form-group animated contac-div-2 ocultar">
                    <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Teléfono *" required="required">
                </div>

                <div class="form-group animated contac-div-3 ocultar">
                    <input type="text" name="correo" id="correo" class="form-control" placeholder="Correo *" required="required">
                </div>

                <div class="form-group animated contac-div-3 ocultar">
                    <input type="text" name="fecha_estimada" id="fecha_estimada" class="form-control" placeholder="Fecha estimada *" required="required">
                </div>

                <div class="form-group animated contac-div-4 ocultar">
                    <textarea rows="6" name="mensaje" id="mensaje" class="form-control" placeholder="Mensaje" required="required"></textarea>
                </div>

                <div class="form-group text-center animated contac-div-5 ocultar">
                    <input type="submit" value="ENVIAR" name="submit" class="btn btn_enviar" title="submit">
                </div>
            </form>
        </div>
    </div>
</section>