<section>
    <div class="container-fluid animated div_infomap_1 ocultar">
        <div id="div_id_infomap_1" class="pt-1px"></div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left pt-4">
                    <div class="row">
                        <div class="mt-4 ml-4">
                            <div><img src="/assets/img/icons/ei_logo_slide_01.png" alt="" width="300"></div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-left">
                    <h2 class="pt-3 pb-2">Eventos Independencia</h2>
                    <h3>
                        <li class="fa fa-phone"></li> Tel: 33 1363 2602</h3>
                    <h3>
                        <li class="fa fa-map-marker"></li> Circunvalación División del Nte. 58</h3>
                    <h3>Col.Independencia C.P 44379</h3>
                    <h3>A una cuadra de la calzada independencia.</h3>
                    <h3 class="pb-4">Guadalajara, Jalisco.</h3>
                </div>
            </div>
        </div>
    </div>
</section>